<header class="bg-white shadow-sm py-4">
    <nav class="container mx-auto px-4 sm:px-6 lg:px-8 flex flex-col sm:flex-row justify-between items-center">
        <div class="text-2xl font-bold text-primary-dark mb-4 sm:mb-0">
            <a href="{{ '/' | relative_url }}" class="hover:text-primary-light transition-colors duration-300 rounded-md focus:focus-ring p-2 -m-2">Ellie Poulin, LMFT</a>
        </div>
        <div class="flex flex-wrap justify-center gap-x-6 gap-y-2 text-lg">
            {% for page_item in site.header_pages %}
                {% assign page_title = page_item.first[0] %}
                {% assign page_url = page_item.first[1] %}
                <a href="{{ page_url | relative_url }}" class="text-gray-700 hover:text-primary-dark transition-colors duration-300 rounded-md focus:focus-ring p-2 -m-2">
                    {{ page_title }}
                </a>
            {% endfor %}
        </div>
    </nav>
</header>
