<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <!-- Load Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap" rel="stylesheet">
    <!-- Link to your compiled custom CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body class="flex flex-col min-h-screen">
    <!-- Header Section -->
    {% include header_nav.html %}

    <!-- Main Content Area - This is where the content of each page will be injected -->
    <main class="flex-grow">
        {{ content }}
    </main>

    <!-- Footer Section -->
    {% include footer.html %}
</body>
</html>
